.action-button::after {
    display: none !important;
}

.action-button {
    background: none;
    border: none;
    color: #888888;
    line-height: 13px;
}

.action-button:hover {
    color: #888888;
    background: rgba(0,0,0,0.1);
}